@model IEnumerable<CrudMind.Models.CustomerViewModels.AdressGroup>

@{
    ViewData["Title"] = "Customer Body Statistics";
}

<h2>Customer Body Statistics</h2>

<table class="table table-striped table-hover">
    <tr>
        <th>
            Birth Date

        </th>
        <th>
            Customer
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerDOB)
            </td>
            <td>
                @item.CustomerCount
            </td>
        </tr>
    }
</table>