@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Simple CRUD</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 ">
            <h2 class="">Welcome To App</h2>
            <p>
                CRUD Database First is a simple Page for Customer with (Create , Read , Update , Delete )
                by  Entity Framework Core in an
                ASP.NET Core MVC web application.
            </p>
        </div>

        <div class="col-md-6">
            <h2>Download it</h2>
            <p>You can download the  project from GitHub.</p>
            <p><a class="btn btn-default" href="https://github.com/MohamedMatroud/CRUD-BY-CORE.git">See project source code &raquo;</a></p>
        </div>
    </div>
</div>